[Unit]
Description=iSCSI target framework daemon
Documentation=man:tgtd(8)
After=network.target
ConditionPathExists=/etc/tgt/tgtd.conf

[Service]
Type=forking
Environment=TGTD_CONFIG=/etc/tgt/tgtd.conf
Environment="LD_LIBRARY_PATH=/var/lib/ceph/lib64/:$LD_LIBRARY_PATH"
ExecStart=/usr/sbin/tgtd
ExecStartPost=/usr/sbin/tgtadm --op update --mode sys --name State -v offline
ExecStartPost=/usr/sbin/tgtadm --op update --mode sys --name State -v ready
ExecStartPost=/usr/sbin/tgt-admin -e -c ${TGTD_CONFIG}

ExecReload=/usr/sbin/tgt-admin --update ALL -f -c ${TGTD_CONFIG}

ExecStop=/usr/sbin/tgtadm --op update --mode sys --name State -v offline
ExecStop=/usr/sbin/tgt-admin --offline ALL
ExecStop=/usr/sbin/tgt-admin --update ALL -c /dev/null -f
ExecStop=/usr/sbin/tgtadm  --op delete --mode system



[Install]
WantedBy=multi-user.target
